# Python / Pip
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.python-version

# Virtual environments
.venv/
env/
venv/

# Data / models / logs
*.pth
*.pkl

# Cached datasets or large assets


# Editor / OS files
.DS_Store
Thumbs.db

# Flask / runtime artifacts
instance/

